# **Übungsaufgaben DDL**

Dieser Übungsblock enthält Aufgaben zum Thema "Datenbankschema (DDL)". Löse die Aufgaben am besten in der gestellten Reihenfolge.

## Grundlagen

Mache dir über folgende Aussagen Gedanken und bespreche sie anschliessend mit den anderen Kursteilnehmern.

**Aussage 1**: Ein geeigneter Datentyp für die Hausnummer ist int.

**Aussage 2:** Ein geeigneter Typ für die Postleitzahl ist int.

**Aussage 3:** Für kaufmännische Daten ist money ein wichtiger Datentyp.

**Aussage 4:** Money ist ein Standard-Datentyp und existiert auch auf anderen DBMS.

**Aussage 5:** VARCHAR ist platzsparender als CHAR

## CREATE

Diese Aufgaben kannst du nach Behandlung des CREATE-Blocks lösen.

**1.1** Erstelle eine neue Datenbank mit dem Namen _Adressdatenbank_.

In [ ]:
CREATE DATABASE Adressdatenbank;
USE Adressdatenbank;
GO

**1.2** Erstelle eine neue Tabelle _Person_ mit den folgenden Feldern: _id, anrede, vorname, nachname, strasse, hausnummer, plz, ort, land_. Wähle dabei geeignete Datentypen aus.

In [ ]:
CREATE TABLE Person (
    id INT NOT NULL IDENTITY (1,1) PRIMARY KEY,
    anrede varchar (30) NOT NULL,
    vorname VARCHAR(30) NOT NULL,
    nachname VARCHAR(30) NOT NULL,
    strasse VARCHAR (30) NOT NULL,
    hausnummer VARCHAR(30) NOT NULL,
    plz SMALLINT NOT NULL,
    ort INT (30) NOT NULL,
    land INT (30) NOT NULL
);

**1.3** Erstelle eine neue Tabelle _Telefon_ mit den folgenden Feldern: id, personId, typ, nummer. Wähle auch hier geeignete Datentypen aus.

In [ ]:
CREATE TABLE Telefon (
    id INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
    personId INT NOT NULL IDENTITY(1,1),
    typ VARCHAR(30) NOT NULL,
    nummer VARCHAR(30) NOT NULL
);

**1.4** Erstelle eine neue Tabelle _Notizen_ mit den folgenden Feldern: _id, personId, notiz_. Wähle hier geeignete Datentypen aus.

In [ ]:
CREATE TABLE Notizen (
    id INT NOT NULL IDENTITY (1,1) PRIMARY KEY,
    personId INT NOT NULL IDENTITY(1,1),
    notiz TEXT
);

## ALTER

Führe diese Aufgaben nach Behandlung des ALTER-Blocks aus.

**2.1** Verändere die Tabelle _Person_, füge eine neue Spalte für einen zweiten Vornamen ein. Wähle dazu einen passenden Datentyp und einen entsprechenden Spaltennamen.

In [ ]:
ALTER TABLE Person ADD zweiter_vorname VARCHAR(30);

**2.2** Verändere die Tabelle _Person_, füge eine neue Spalte für ein _Geburtsdatum_ ein. Wähle hierzu einen passenden Datentyp.

In [ ]:
ALTER TABLE Person ADD geburtsdatum DATE;

**2.3** Verändere die Tabelle _Telefon_, verändere den Typ der Spalte _Typ_. Neu soll dieses Feld nicht mehr frei änderbar sein, sondern du sollst zwischen _P_, _N_ oder _G_ aussuchen müssen.

In [ ]:
ALTER TABLE Telefon ALTER COLUMN typ CHAR (P,N,G);

**2.4** Erstelle eine Spalte _Notiz_ auf der Person. Wähle den passenden Datentyp.

In [ ]:
ALTER TABLE Person ADD notiz VARCHAR(30);

**2.5** Lösche die Spalte _notiz_ aus der Tabelle _Notizen_.

In [ ]:
ALTER TABLE Notizen DROP COLUMN notiz;

## DROP

Führe diese Aufgaben nach Behandlung des DROP-Blocks aus.

**3.1** Lösche die Tabelle _Notizen_.

In [ ]:
DROP TABLE Notizen;

## RENAME

Führe diese Aufgaben nach der Behandlung des RENAME-Blocks aus.

**4.1** Benenne die Tabelle _Telefon_ in _Phone_ um.

In [ ]:
exec sp_rename 'Telefon', 'Phone';

## Schlüsselfelder

Führe diese Aufgaben nach Behandlung der Schlüsselfelder aus.

**Hinweis**: Diese Aufgaben beziehen sich auf die Mustertabelle des Kapitels "CREATE" und den nachfolgenden Änderungen.

**5.1** Erstelle einen Primärschlüssel für das Feld "id" in der Tabelle "Person". Der Wert soll automatisch inkrementieren.

In [ ]:
ALTER TABLE Person ADD PRIMARY KEY (id) IDENTITY(1,1);

**5.2** Erstelle einen Primärschlüssel für das Feld "id" in der Tabelle "Phone". Der Wert soll nicht inkementieren.

In [ ]:
ALTER TABLE Phone ADD PRIMARY KEY (id);

**5.3** Erstelle einen Fremdschlüssel für das Feld "personId" in der Tabelle "Phone". Der Wert soll auf die Tabelle "Person" und das Feld "id" referenzieren.

In [ ]:
ALTER TABLE Phone ADD CONSTRAINT fk_personId FOREIGN KEY personId REFERENCES Person (personId);