# **Übungsaufgaben DDL**

Dieser Übungsblock enthält Aufgaben zum Thema "Datenbankschema (DDL)". Löse die Aufgaben am besten in der gestellten Reihenfolge.

## Grundlagen

Mache dir über folgende Aussagen Gedanken und bespreche sie anschliessend mit den anderen Kursteilnehmern.

**Aussage 1**: Ein geeigneter Datentyp für die Hausnummer ist int.

**Aussage 2:** Ein geeigneter Typ für die Postleitzahl ist int.

**Aussage 3:** Für kaufmännische Daten ist money ein wichtiger Datentyp.

**Aussage 4:** Money ist ein Standard-Datentyp und existiert auch auf anderen DBMS.

**Aussage 5:** VARCHAR ist platzsparender als CHAR

**Antwort 1:** Grundsätzlich nicht, es gibt nur schon in der Schweiz Hausnummern, welche Buchstaben verwenden (bsp. 3a)

**Antwort 2:** Wenn nur Postleitzahlen aus Ländern wie Deutschland, Schweiz oder Österreich verwendet werden, funktioniert dies. Sobald Länder wie Grossbritannien im System verwendet werden, muss der Typ alphanummerisch sein, da z.B. Grossbritannien auch Buchstaben in deren Postleitzahlen verwendet.

**Aussage 3:** Stimmt, der Microsoft SQL-Server bietet hierfür extra einen Datentyp an, welcher für Finanzdaten verwendet werden kann. Bei anderen DBMS muss in der Regel auf Float zurückgegriffen werden.

**Aussage 4:** Money ist ein Microsoft-Typ. Andere Systeme wie MariaDB oder PostgreSQL bieten diesen Datentyp nicht an.

**Aussage 5:** Kommt auf den Inhalt des Feldes an. Character reserviert genau die Anzahl Felder im Speicher, welche angegeben wurden. Wenn ich nur Werte ablege, welche genau dieser Grösse entsprechen, fahre ich besser als wenn ich VARCHAR verwenden würde. Wenn ich jedoch Werte speichern muss, welche unterschiedlich gross sind, fahre ich mit VARCHAR besser, da die grösse dynamisch vergeben wird.

## CREATE

Diese Aufgaben kannst du nach Behandlung des CREATE-Blocks lösen.

**1.1** Erstelle eine neue Datenbank mit dem Namen _Adressdatenbank_.

In [ ]:
-- Falls nötig, zuerst DB entfernen
DROP DATABASE IF EXISTS Adressdatenbank;
CREATE DATABASE Adressdatenbank;

**1.2** Erstelle eine neue Tabelle _Person_ mit den folgenden Feldern: _id, anrede, vorname, nachname, strasse, hausnummer, plz, ort, land_. Wähle dabei geeignete Datentypen aus.

In [ ]:
-- Zuerst muss das Schema gewechselt werden
USE Adressdatenbank;
CREATE TABLE Person (
    id INT NOT NULL,
    anrede CHAR(4) NOT NULL,
    vorname VARCHAR(50) NOT NULL,
    nachname VARCHAR(50) NOT NULL,
    strasse VARCHAR(150) NOT NULL,
    hausnummer VARCHAR(5),
    plz VARCHAR(10) NOT NULL,
    ort VARCHAR(50) NOT NULL,
    land VARCHAR(50) NOT NULL
)

In [ ]:
-- Anschliessende Kontrolle
exec sp_columns Person;

**1.3** Erstelle eine neue Tabelle _Telefon_ mit den folgenden Feldern: id, personId, typ, nummer. Wähle auch hier geeignete Datentypen aus.

In [ ]:
CREATE TABLE Telefon (
    id INT NOT NULL,
    personId INT NOT NULL,
    typ VARCHAR(10) NOT NULL,
    nummer VARCHAR(50) NOT NULL
);

In [ ]:
-- Anschliessende Kontrolle
exec sp_columns Telefon;

**1.4** Erstelle eine neue Tabelle _Notizen_ mit den folgenden Feldern: _id, personId, notiz_. Wähle hier geeignete Datentypen aus.

In [ ]:
CREATE TABLE Notizen (
    id INT NOT NULL,
    personId INT NOT NULL,
    notiz TEXT
);

In [ ]:
-- Anschliessende Kontrolle
exec sp_columns Notizen;

## ALTER

Führe diese Aufgaben nach Behandlung des ALTER-Blocks aus.

**2.1** Verändere die Tabelle _Person_, füge eine neue Spalte für einen zweiten Vornamen ein. Wähle dazu einen passenden Datentyp und einen entsprechenden Spaltennamen.

In [ ]:
ALTER TABLE Person ADD zweiter_vorname VARCHAR(50);

In [ ]:
-- Anschliessende Kontrolle
exec sp_columns Person;

**2.2** Verändere die Tabelle _Person_, füge eine neue Spalte für ein _Geburtsdatum_ ein. Wähle hierzu einen passenden Datentyp.

In [ ]:
ALTER TABLE Person ADD geburtsdatum DATE;

In [ ]:
-- Anschliessende Kontrolle
exec sp_columns Person;

**2.3** Verändere die Tabelle _Telefon_, verändere den Typ der Spalte _Typ_. Neu soll dieses Feld nicht mehr frei änderbar sein, sondern du sollst zwischen _P_, _N_ oder _G_ aussuchen müssen.

In [ ]:
-- Hier muss der Datentyp komplett verändert werden. Das heisst, die Kolonne muss entfernt und neu hinzugefügt werden.
-- Der Check wird nicht mittels MODIFY unterstützt.
-- Ein geeigneter Datentyp ist hier ENUM. Microsoft unterstützt diesen Datentyp, aber nicht gemäss Standart.
-- Der Datentyp kann mit einem Check erstellt werden.
ALTER TABLE Telefon DROP COLUMN typ;
ALTER TABLE Telefon ADD typ CHAR(1) NOT NULL CHECK (typ IN ('P', 'N', 'G'))

In [ ]:
-- Anschliessende Kontrolle
exec sp_columns Telefon;

**2.4** Erstelle eine Spalte _Notiz_ auf der Person. Wähle den passenden Datentyp.

In [ ]:
ALTER TABLE Person ADD notiz TEXT;

In [ ]:
-- Anschliessende Kontrolle
exec sp_columns Person;

**2.5** Lösche die Spalte _notiz_ aus der Tabelle _Notizen_.

In [ ]:
ALTER TABLE Notizen DROP COLUMN notiz;

In [ ]:
-- Anschliessende Kontrolle
exec sp_columns Notizen;

## DROP

Führe diese Aufgaben nach Behandlung des DROP-Blocks aus.

**3.1** Lösche die Tabelle _Notizen_.

In [ ]:
DROP TABLE Notizen;

In [ ]:
-- Anschliessende Kontrolle
SELECT * FROM INFORMATION_SCHEMA.TABLES;

## RENAME

Führe diese Aufgaben nach der Behandlung des RENAME-Blocks aus.

**4.1** Benenne die Tabelle _Telefon_ in _Phone_ um.

In [ ]:
exec sp_rename 'Telefon', 'Phone';

In [ ]:
-- Anschliessende Kontrolle
SELECT * FROM INFORMATION_SCHEMA.TABLES;

## Schlüsselfelder

Führe diese Aufgaben nach Behandlung der Schlüsselfelder aus.

**Hinweis**: Diese Aufgaben beziehen sich auf die Mustertabelle des Kapitels "CREATE" und den nachfolgenden Änderungen.

**5.1** Erstelle einen Primärschlüssel für das Feld "id" in der Tabelle "Person". Der Wert soll automatisch inkrementieren.

In [ ]:
-- Hint: Da die Anforderung für ein Identity-Feld besteht, muss die vorhandene Spalte entfernt werden.
ALTER TABLE Person DROP COLUMN id;
ALTER TABLE Person ADD id INT NOT NULL IDENTITY(1,1) PRIMARY KEY;

In [ ]:
-- Anschliessende Kontrolle
exec sp_columns Person;

**5.2** Erstelle einen Primärschlüssel für das Feld "id" in der Tabelle "Phone". Der Wert soll nicht inkementieren.

In [ ]:
ALTER TABLE Phone ADD CONSTRAINT pk_phone_id PRIMARY KEY CLUSTERED(id);

In [ ]:
-- Anschliessende Kontrolle
SELECT * FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS WHERE TABLE_NAME='Phone';

**5.3** Erstelle einen Fremdschlüssel für das Feld "personId" in der Tabelle "Phone". Der Wert soll auf die Tabelle "Person" und das Feld "id" referenzieren.

In [ ]:
ALTER TABLE Phone ADD CONSTRAINT fk_person_id FOREIGN KEY (personId) REFERENCES Person(id);

In [ ]:
-- Anschliessende Kontrolle
SELECT * FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS WHERE TABLE_NAME IN('Phone', 'Person');